/*==================== FONT ====================*/
@font-face {
    font-family: Ginto;
    src: url(../fonts/otf/ginto-regular.otf),
    url(../fonts/ttf/ginto-regular.ttf),
    url(../fonts/woff/ginto-regular.woff),
    url(../fonts/woff2/ginto-regular.woff2);
    font-weight: lighter;
}

@font-face {
    font-family: Ginto;
    src: url(../fonts/otf/ginto-medium.otf),
    url(../fonts/ttf/ginto-medium.ttf),
    url(../fonts/woff/ginto-medium.woff),
    url(../fonts/woff2/ginto-medium.woff2);
    font-weight: normal;
}

@font-face {
    font-family: Ginto;
    src: url(../fonts/otf/ginto-bold.otf),
    url(../fonts/ttf/ginto-bold.ttf),
    url(../fonts/woff/ginto-bold.woff),
    url(../fonts/woff2/ginto-bold.woff2);
    font-weight: bold;
}

/*==================== VARIABLES CSS ====================*/
/* Big thanks to Bedimcode for showing me the HSL method */
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 235; 

    /* HSL color mode - DARK*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --text-color-lighter: hsl(var(--hue-color), 8%, 80%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%); 
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%); 
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);

    /*========== Font and typography ==========*/
    --body-font: 'Ginto';

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-link: #00b0f4;

    /*========== Font weight ==========*/
    --font-medium: 600;
    --font-semi-bold: 800;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
/* 
body.light-theme{
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;    
} */

/*========== Button Dark/Light ==========*/

/*==================== BASE ====================*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.2;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-link);
}

img{
    max-width: 100%;
    height: auto;
}
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

p{
    font-style: 'Ginto';
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/

.bd-container{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.bd-grid{
    gap: 1.5rem;
    display: grid;
}

/*==================== NAV ====================*/

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-image: linear-gradient(179.3deg, #0E1218 0.6%, rgba(14, 18, 24, 0.85) 17.58%, rgba(14, 18, 24, 0.07) 57.63%, rgba(14, 18, 24, 0) 99.4%, rgba(14, 18, 24, 0) 99.4%);   
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


@media screen and (max-width: 768px){
    .menu{
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      padding: 2.5rem 0 0;
      text-align: center;
      background-color: var(--body-color);
      transition: .4s;
      box-shadow: 0 0 4px rgb(0 0 0 / 68%);
      border-radius: var(--mb-1);
      z-index: var(--z-fixed);
    }
}

.item{
    margin-bottom: var(--mb-1-5);
}

.logo{
    font-weight: var(--font-semi-bold);
}

.link, .logo, .toggle{
    color: var(--title-color);
}

.link{
    transition: .3s;
    color: var(--text-color-light);
    font-weight: 100;
}
.link:hover{
    color: var(--text-color-lighter);
}

.toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show the Menu */
.show{
    top: calc(var(--header-height) + 1rem)
}

/* Active indicator */

.active-link{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
  
.active-link::before{
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--first-color);
    border-radius: 50%;
}

/* Desktop View */
@media screen and (min-width: 768px){
    body{
        margin: 0
    }
    .nav{
        height: calc(var(--header-height) - 1.5rem);
    }
    .list{
        display: flex;
        align-items: center;
    }
    .toggle{
        display: none;
    }
    .item{
        margin-left: var(--mb-2-5);
        margin-bottom: 0;
    }
}

@media screen and (min-width: 968px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
}

/*==================== HOME ====================*/

.home{
    background: url(/assets/img/background_dark.png);
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.data{
    margin-top: 7rem;
}

.home-container{
    row-gap: .5rem;   
}

.title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-1-5);
}

.description{
    margin-bottom: var(--mb-1-5);    
}


/*==================== BUTTONS ====================*/

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;  
    padding: 1rem;
    border-radius: .5rem;  
    transition: 0.5s;
}

.non-button{
    margin-left: var(--mb-2);
    color: var(--title-color-alt);
    font-size: var(--small-font-size);
    transition: 0.3s;
}

.non-button:hover{
    color: var(--title-color);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button-icon{
    font-size: 1.5rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.uil-arrow-right{
    font-size: 1.5rem;
}

.button:hover .button-icon{
    transform: translateX(3px);
}

.button-flex{
    display: inline-flex;
    align-items: center;
}


/*==================== ABOUT ====================*/

.features{
    margin-top: -20px;
    position: relative;
}

.featureContainer {
    width: 100%;
    
    /* margin-top: 25px;
    margin-bottom: 25px; */
    padding-top: 50px;
    padding-bottom: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topWave{
   /* position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100px;
   transform: translateY(-60px);
   display: block; */
   width: 100%;
   height: auto;
   display: block;
   position: relative;
}

.bottomWave{
    width: 100%;
    height: auto;
    display: block;
}

.margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.featureContainer[tag="waveContainer"] {
    background: #0E1218; 
    background-size: cover;
    padding: 60px;
}

.featureContainerImage {
    height: 200px;
    width: auto;
}

.mr{
    margin-right: var(--mb-2);
}

.ml{
    margin-left: var(--mb-3);
}

.fix{
    transform: scale(1.5);
}

.featureContainerImage svg{
    height: 400px;
    width: 300px;
}

.featureContainerText {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.featureContainerTextTitle {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    display: flex;
    flex-direction: column;
    
    margin: 0 0 10px 0;
}

.featureContainerTextDescription {
    max-width: 350px;
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.dram{
    display: none;
} 

/*==================== TEAM ====================*/

.team{
    margin-top: 50px;
    margin-bottom: 30px;
}

.sectionCenter{
    text-align: center;
}


.teamMembersWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}
.teamMembersWrapper[tag="mobileView"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
i.uil.uil-arrow-left.arrowIcon,
i.uil.uil-arrow-right.arrowIcon{
    font-size: 35px;
    color: #ffffff;
  
    cursor: pointer;
    transition: 0.3s;
}

i.uil.uil-arrow-left.arrowIcon:hover{
    transform: translateX(-2px);
}

i.uil.uil-arrow-right.arrowIcon:hover{
    transform: translateX(2px);
}

.arrowContainer.som{
    display: none;
}


.arrowLeft {
    background-color: #080b0f;
    width: 50px;
    height: 250px;
  
    padding: 20px;
  
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;

    transition: transform .1s;
}
  
.arrowRight {
    background-color: #080b0f;
    width: 50px;
    height: 250px;
  
    padding: 20px;
  
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
    
}
  
.teamMemberCard {
    background-color: #080B0F;  
    margin-bottom: 20px;
    min-width: 360px;
    max-width: 360px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
}

.teamMemberCard .teamMemberCardBanner {
    /* background-image: url("tumblr_movedhUDo61sr5hnuo1_500.gif"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.teamMemberCard .teamMemberCardBanner .teamMemberCardAvatar {
    border: solid #080B0F 10px;
    background-color: var(--body-color);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transform: translateY(50%);
    object-fit: cover;
}
  
.teamMemberCard .teamMemberCardTextBox {
      margin-top: 60px;
      text-align: center;
      padding: 20px;
}
  
.teamMemberCard .teamMemberCardRole {
      margin: 0 0 0.2rem 0;
      color: #fff;
      font-size: 0.85rem;
      font-weight: 100;
      text-align: center;
}
  
.teamMemberCard h2.teamMemberCardName {
    color: #5C6673;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 2rem 1.2rem;
}
  
.teamMemberCard .teamMemberCardTag {
    color: #3b434e;
    font-size: 0.85rem;
    font-weight: lighter;
    text-align: center;
}
  
.teamMemberCard .teamMemberCardTitle {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding: 0 2rem 0.2rem;
    margin: 0;
    color: #fff;
}

.teamMemberCard .teamMemberCardDescription {
    padding: 0 2rem 2.5rem;
    order: 100;
}
  

/*==================== FOOTER ====================*/


.footer {
    margin-bottom: 50px;
}
.footer-container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer-logo{
    color: var(--title-color);
}

.footer-title{
    margin-bottom: var(--mb-1);
}

.footer-description{
    font-size: .93rem;
}

.footer-logo, .footer-title{
    font-size: var(--h3-font-size);
}

.footer-socials{
    margin-top: 10px;
    margin-right: 10px;

    display: flex;
    align-items: center;
}

.footer-socials i,
.footer-socials svg{
    font-size: 25px;
    margin-right: 5px;
    color: var(--title-color);
    fill: var(--title-color);
}

.footer-socials a:nth-child(1){
    transform: translateY(1.5px);
}

.footer-link{
    display: inline-block;
    margin-bottom: .25rem;
    color: var(--text-color);
    transition: 0.3s;
}

.footer-link:hover{
    color: var(--title-color);
}

.footer-link:hover.blocked, .link:hover.blocked{
    color: rgb(248, 79, 79);
    cursor: no-drop;
}

.footer-copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 4rem;    
}

.footer-copy a{
    
    color: var(--title-color);
}

/*========== SCROLL UP ==========*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: var(--first-color);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover{
    background: var(--first-color-alt);
}
  
.scrolltop-icon{
    font-size: 1.5rem;
    color: var(--body-color);
}
  
/* Show scroll */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width: 400px){
    .teamMemberCard{
        max-width: 100%;
    }
}

@media screen and (max-width: 520px){
    .arrowContainer.som{
        display: block;
        background-color: #080B0F;
        margin-bottom: 20px;
        border-radius: 2rem;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    
        font-size: 50px;
    
        width: 150px;
        height: 45px;
        box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);        
    }

    .arrowRight,
    .arrowLeft{
        display: none;
    }
    .teamMembersWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
}

@media screen and (max-width: 969px){
    .topWave{
        transform: translateY(35%);
    }
}


@media screen and (max-width: 760px){
    .features .featureContainer{
        flex-direction: column;
        padding: 60px;
    }
    .featureContainerImage{
        width: 100%;
    }
    .featureContainerText{
        text-align: center;
    }    
    .featureContainerTextTitle{
        font-size: var(--h1-font-size);
    }
    .mr, .ml{
        margin: 0;
        margin-bottom: var(--mb-2);
    }
    .ram{
        display: none;
    }   
    .dram{
        display: block;
    } 
    .topWave{
        display: block;
    }
}


@media screen and (max-width: 608px){
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttons a.non-colored{
        font-size: 10px;
    }
    .data .title{
        text-align: center;
    }
    .data .description{
        text-align: center;
    }
}

@media screen and (min-width: 576px){
    .home-container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
    .home-container{
        padding: 5rem 0 0;
    }
}

@media screen and (min-width: 768px){
    .home-container{
        padding: 7rem 2rem 0;
    }
}

@media screen and (min-width: 968px){
    .home-container{
        column-gap: 5rem;
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .list{
        display: flex;
        align-items: center;
    }
    .toggle{
        display: none;
    }
    .item{
        margin-left: var(--mb-2);
        margin-bottom: 0;
    }
}

@media screen and (min-width: 576px){
    .home-container{
      grid-template-columns: repeat(1,1fr);
      align-items: center;
    }
    .home-container{
        padding: 5rem 0 0;
    }
}

@media screen and (min-width: 768px){
    .home-container{
        padding: 7rem 2rem 0;
    }
}

@media screen and (min-width: 968px){
    .home-container{
        column-gap: 5rem;
    }
}

/*==================== Easter Egg ====================*/

.hey:hover .drago{
    display: block;
}

/* .hey{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
} */

.drago{
    display: none;
    transition: 0.3s;
}

.drago .monkey{
    margin-top: 10px;
    height: 22px;
    width: 22px;
    transition: 0.3s;
}